.about{
    width: 80%;
    margin: 0 auto;
        &__head{
            max-width: 500px;
            margin: 0 auto;
            h1{
            margin-top: 0.5em;
            font-size:66px;
            font-family: $sspLight;
            text-align: center;
            }
            h2{
                margin-top: 0.25em;
                font-size:31px;
                text-transform: uppercase;
                font-family: $sspBlack;
                text-align: center;
            }
        }
    div{
        text-align: center;
        font-family: $sspLight;
        p{
            margin-top: 2em;
        }
        p+p{
            margin-top: 0.5em;
        }
    }
    div+div{
        margin: 2em auto 0;
        max-width: 500px;
        a{    
            color: $link-color;
            text-decoration: none;
            font-family: $sspBlack;
        }
        a+a, a+a+a{
            margin-left: 10%;
        }
    }
}