ul{
    .quickList{
        height: 5em;
        border-bottom: 1px solid $black;
        position: relative;
        .listLink{
            text-decoration: none;
            color: $black;
            .list{
                margin-top: 0.5em;
                margin-left: 6%;
                strong{
                    text-transform: uppercase;
                    font-family: $sspBlack;
                }
                address{
                    margin-top: 0.5em;
                    margin-left: 15%;
                    width: 50%;
                    &:before{
                        display: inline-block;
                        height: 50px;
                        width: 50px;
                        content:"";
                        background-image: url("../images/adress.png");
                        background-size: 75%;
                        background-repeat: no-repeat;
                        //background-position: center;
                        position: absolute;
                        top: 1.5em;
                        left: 6%;
                    }
                }
                em{
                    position:absolute;
                    top: 0;
                    right: 5%;
                    font-family: $sspLight;
                }
                span{
                    font-family: $sspBlack;
                    background-color: $red;
                    color: $white;
                    padding: 0.3em 2%;
                    position:absolute;
                    top: 2em;
                    right: 5%;
                }
            }
        }
    }
}