//Fonts-size

$font-base: 16;

$font-micro: 10;
$font-content: $font-base * 1.5;
$font-lvl1: $font-content * 1.5;
$font-lvl2: $font-lvl1 * 1.5;
$font-lvl3: $font-lvl2 * 1.5;

$sspLight: "SourceSansPro-Light", sans-serif;
$sspRegular: "SourceSansPro-Regular", sans-serif;
$sspBlack: "SourceSansPro-Black", sans-serif;
$sspItalic: "SourceSansPro-Italic", sans-serif;

//Spacing
$spacing-unit: 12px;
$spacing-el: 48px;